<!-- <div>
    <h2>Page de chaque centre</h2>
    <li *ngFor="let aCenter of centers">
        <a routerLink="/centers/detail/{{aCenter.id}}">
            {{aCenter.name}}
        </a>
    </li>
</div> -->
<h2>LISTE DES CENTRES DE VACCINATION</h2>

<div>
    <button (click)="selectSearch('city'); filteredCenters();">
        Recherche par ville
    </button>
    <button (click)="selectSearch('name'); filteredCenters();">
        Recherche par nom
    </button>
    <div *ngIf="search !== undefined">
        <h3 *ngIf="search === 'city'">Recherche par ville</h3>
        <h3 *ngIf="search === 'name'">Recherche par nom</h3>
        <input *ngIf="search === 'city' || search === 'name'" 
            [(ngModel)]="searchTerm" (ngModelChange)="filteredCenters()">    
    </div>
    <ul>
        <li *ngFor="let aCenter of searchResult"
            [ngClass]="selected==aCenter ? 'selected' : ''">
    
            <button 
                [ngStyle]="{'font-weight' : isSpecialCenter(aCenter) ? 'bold' : 'normal'}"
                (click)="selectCenter(aCenter)">
                {{aCenter.name}}
            </button>
        </li>
    </ul>
</div>

<app-vaccination-center [center]="selected"
    (deleted)="onDeleted($event)">
</app-vaccination-center>


<!-- 
<div *ngIf="selected">
    Centre selectionné:
    <h2 [title]="selected.name">{{selected.name | uppercase}}</h2>
    <div>{{selected.address}}
        <span>{{selected.postalCode}} {{selected.city}}</span>
    </div>
    <div>
        Ouvert depuis le {{selected.openingDate | date:'dd/MM/Y'}}
    </div>
</div> 
-->

<!--
<td>
    <button mat-raised-button color="primary" (click)="info()">Infos</button>
</td>
-->