<div class="detail" *ngIf="center">
    <h2 [title]="center.name">{{center.name}}</h2>
    <div>
        <p>{{center.address}}</p>
        <p>{{center.postalCode}}, {{center.city}}</p>
    </div>
    <div>
        Ouvert depuis le {{center.openingDate | date:'dd/MM/Y'}}
    </div>

    <!-- 
    <div>
        <label for="name">Nom du centre </label>
        <input id="name" [(ngModel)]="center.name" />
    </div>
    -->
    
    <!-- 
    <div>
        <p></p>
        <button (click)="delete()">Supprimer</button>
    </div> 
-->
</div>
