.detail {
    border: 1px solid black;
    border-radius: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

h2{
    text-decoration-line: underline;
    font-weight: bold;
}

div{
    font-size: 20px;
}