<div>
    <h2>Trouver un centre de vaccination</h2>


        <!-- ngIf permet d’ajouter ou retirer des éléments
        (Dispose les composants, libération de la mémoire et des ressources)
        -->
        <div class="detail" *ngIf="center">
            <h2 [title]="center.name">{{center.name | uppercase}}</h2>
            <div>{{center.address | lowercase}}
                <span> {{center.postalCode}} {{center.city}}</span>
            </div>
            <div>
                Ouvert depuis le {{center.openingDate | date:'dd/MM/Y'}} 
            </div>

            <div *ngIf="isNameNotEmpty()">
                <!-- Un clic sur le bouton “Supprimer” va déclencher l'appel de la méthode delete() (Event Binding) -->
                <button (click)="clearName()">Clear Name</button>
                <button (click)="delete()">Supprimer</button>
            </div>
        </div>

        <!-- 
        ngModel permet d'interagir avec la valeur des champs de formulaire HTML (input, select, textarea). 
        souvent utilisée avec le two-way binding: Cela permet de mettre à jour les champs de saisi,
        mais également de récupérer les valeurs saisies par l’utilisateur.
    -->
    <!-- <div class="detail" *ngIf="center"> 
        <input id="name" [(ngModel)]="center.name"> <br/> <br/> <!-- placeholder="Entrez le nom de votre centre" -->
        <!-- <div *ngIf="isNameNotEmpty()">
          Un clic sur le bouton “Supprimer” va déclencher l'appel de la méthode delete() (Event Binding)
          <button (click)="clearName()">Clear Name</button>
          <button (click)="delete()">Supprimer</button>
        </div> -->
</div>  





   <!-- <h3>{{center.name}}</h3> -->
    <!-- <div>{{center.address}} <span>{{center.postalCode}} {{center.city}</span></div> -->
    
    <!--<div>
     <h2 [title]="center.name">{{center.name | uppercase}}</h2> 
    <div> -->
         <!-- {{center.adress}}
        <span>{{center.postalCode}} {{center.city}}</span> -->

    <!-- <label for="name">Nom du centre:</label> -->
    <!-- <input id="name" [(ngModel)]="center.name" >/> <br/> -->
    <!-- <button (click)="clearName()">Effacer votre recherche</button> -->  

